<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <BTool.Properties.Settings>
            <setting name="ComPortName" serializeAs="String">
                <value />
            </setting>
            <setting name="Baud" serializeAs="String">
                <value />
            </setting>
            <setting name="Flow" serializeAs="String">
                <value />
            </setting>
            <setting name="Parity" serializeAs="String">
                <value />
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value />
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value />
            </setting>
            <setting name="AttributesAutoScroll" serializeAs="String">
                <value>False</value>
            </setting>
        </BTool.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
